<form action="" method="get">
    <div class="uk-margin-top uk-margin-bottom uk-child-width-1-3@s uk-child-width-1-4@m uk-grid" uk-grid>
        {% for key,select in selects %}
        <div>
            <select class="uk-select" name="{{ key }}" onchange="this.form.submit()">
                <option value="" disabled selected>{{ select.label }}</option>
                {% if select.all %}
                <option value="">{{ select.all }}</option>
                {% endif %}
                {% for option in select.options %}
                <option value="{{ option }}"{% if (select.active == option) %} selected{% endif %}>{{ option }}</option>
                {% endfor %}
            </select>
        </div>
        {% endfor %}
        <div class="uk-visible@m">
            {# {{ total.total }} {{ 'termék összesen'|translate }} #}
        </div>
        <div>
            <select class="uk-select" name="orderby" onchange="this.form.submit()">
                <option value="" disabled selected>{{ orderselect.label }}</option>
                {% if select.all %}
                <option value="">{{ orderselect.all }}</option>
                {% endif %}
                {% for option in orderselect.options %}
                <option value="{{ option }}"{% if (orderselect.active == option) %} selected{% endif %}>{{ option }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</form>