{% extends "master.twig" %}
{% block content %}
<div class="uk-container">
    <h2 class="uk-heading">{{ title }}</h2>
    <div class="uk-padding uk-padding-remove-horizontal">
        {{ content }}
    </div>
</div>
{% endblock %}