{% extends "master.twig" %}
{% block content %}

<!-- SLIDESHOW -->
{% if slider %}
<section class="uk-section uk-section-small uk-padding-remove-vertical">
    <div class="uk-container">
        <div class="uk-position-relative uk-visible-toggle" tabindex="-1" uk-slideshow="autoplay: true;pause-on-hover: true;autoplay-interval: 6000;animation: scale">
            <ul class="uk-slideshow-items">
            {% for slide in slider %}
                <li>
                    <img src="{{ slide.image }}" alt="" uk-cover>
                    {% if slide.showcta %}
                    <div class="uk-position-center uk-position-small uk-text-center uk-light">
                        <h2 class="uk-margin-remove">{{ slide.title }}</h2>
                        <p class="uk-margin-remove">{{ slide.subtitle }}</p>
                        {% if slide.cta %}
                        <a class="uk-button uk-button-default uk-margin-top" href="{{ slide.url }}">{{ slide.cta }}</a>
                        {% endif %}
                    </div>
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
            <div class="uk-light">
                <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
                <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
            </div>
        </div>
    </div>
</section>
{% endif %}

<!-- FEATURED PRODUCTS -->
<section class="uk-section uk-section-small">
    <div class="uk-container">
        <h2 class="uk-heading-line uk-text-center"><span>{{ 'Kiemelt termékek'|translate }}</span></h2>
        <div class="uk-child-width-1-2@s uk-child-width-1-4@m" uk-grid uk-height-match="target: .uk-card">
            {% for product in products %}
            <div>
                <div class="uk-card uk-card-default uk-link-reset uk-inline-clip uk-transition-toggle">
                    <a href="{{product.url}}">
                        <div class="uk-card-media-top">
                            <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                                <img src="{{ product.image[0] }}" class="uk-transition-scale-up uk-transition-opaque" alt="">
                            </div>
                        </div>
                        <div class="uk-card-body uk-padding-small">
                            <h2 class="uk-link-reset product-title">{{ product.name }}</h2>
                            <div class="uk-text-right uk-position-bottom-right uk-padding-small">
                                <span class="price uk-text-bold">
                                    {{ product.price }}
                                </span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<!-- CATEGORIES -->
<section class="uk-section uk-section-small">
    <div class="uk-container">
        <h2 class="uk-heading-line uk-text-center"><span>{{ 'Kategóriák'|translate }}</span></h2>
        <div class="uk-child-width-1-2@s uk-child-width-1-3@m" uk-grid>
            {% for category in categories %}
            <div>
                <div class="uk-card uk-card-default uk-link-reset uk-inline-clip uk-transition-toggle">
                    <a href="{{category.url}}">
                        <div class="uk-card-media-top">
                            <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                                <img src="{{ category.image[0] }}" class="uk-transition-scale-up uk-transition-opaque" alt="">
                            </div>
                        </div>
                        <div class="uk-card-body uk-padding-small">
                            <h2 class="uk-link-reset product-title">{{ category.name }}</h2>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<!-- SUBCATEGORIES -->
<section class="uk-section uk-section-small">
    <div class="uk-container">
        <div class="uk-child-width-1-2 uk-child-width-1-4@s uk-child-width-1-6@m" uk-grid>
            {% for category in subcategories %}
            <div>
                <div class="uk-card uk-card-default uk-link-reset uk-inline-clip uk-transition-toggle">
                    <a href="{{category.url}}">
                        <div class="uk-card-media-top">
                            <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                                <img src="{{ category.image[0] }}" class="uk-transition-scale-up uk-transition-opaque" alt="">
                            </div>
                        </div>
                        <div class="uk-card-body uk-padding-small">
                            <h6 class="uk-link-resete">{{ category.name }}</h6>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<!-- BLOG -->
<section class="uk-section uk-section-small">
    <div class="uk-container">
        <h2 class="uk-heading-line uk-text-center"><span>{{ 'Blog'|translate }}</span></h2>
        <div class="uk-child-width-1-2@s uk-child-width-1-4@m" uk-grid uk-height-match="target: .uk-card">
            {% for blogpost in blogposts %}
            <div>
                <div class="uk-card uk-card-default uk-link-reset uk-inline-clip uk-transition-toggle">
                    <a href="{{blogpost.url}}">
                        <div class="uk-card-media-top">
                            <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                                <img src="{{ blogpost.image }}" class="uk-transition-scale-up uk-transition-opaque" alt="">
                            </div>
                        </div>
                        <div class="uk-card-body uk-padding-small">
                            <h2 class="uk-link-reset product-title">{{ blogpost.title }}</h2>
                            <div class="">
                                {{ blogpost.excerpt }}
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}