{% extends "master.twig" %}
{% block content %}
<div class="uk-container">
    <div class="uk-grid-divider uk-child-width-1-2@s" uk-grid>
        
        <div>
            <h2 class="uk-heading-line"><span>{{ title }}</span></h2>
            {{ content }}
        </div>
        <div>
            <h2 class="uk-heading-line"><span>Írj nekünk!</span></h2>
            
            <form class="ajax-form uk-form-stacked" id="contactform" method="POST" action="">

                <input type="hidden" name="action" value="contactFormSubmit">

                <div class="uk-margin">
                    <label class="uk-form-label" for="input-name">Név</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" id="input-name" type="text" name="name" placeholder="">
                    </div>
                </div>
            
                <div class="uk-margin">
                    <label class="uk-form-label" for="input-email">Email címed</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" id="input-email" type="email" name="email" placeholder="Erre a címre fogunk válaszolni">
                    </div>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label" for="input-message">Üzenet</label>
                    <div class="uk-form-controls">
                        <textarea class="uk-textarea" id="input-message" name="message" rows="5"></textarea>
                    </div>
                </div>

                <div class="uk-margin">
                    <label><input class="uk-checkbox" name="terms" type="checkbox"> Elolvastam és tudomásul vettem az <a href="{{ site.privacyPolicyUrl }}">Adatkezelési tájékoztatóban</a> foglaltakat.</label>
                    
                </div>
            
                <div class="uk-margin">
                    <button type="submit" class="uk-button uk-button-primary">Elküldöm</button>
                </div>
            
            </form>

        </div>
    </div>
    
</div>
{% endblock %}