{% extends "master.twig" %}
{% block content %}
<div class="uk-container">
    <h2 class="uk-heading-line"><span>{{ title }}</span></h2>
    <div class="uk-margin-large-bottom">
        {% include '@svg/ruler.svg' %}
    </div>
    <div uk-height-match=".uk-card" uk-grid>
        <div class="uk-width-3-5@s">
            <div class="uk-card uk-card-default uk-card-body">
                <div class="uk-margin uk-form-controls" uk-grid>
                    <div class="uk-width-1-4@s">
                        Körméret a mell alatt (cm)
                    </div>
                    <div class="uk-width-expand@s">
                        <range-input class="range-input">
                            <output for="size-underbust"></output>
                            <input type="range" id="size-underbust" name="size-underbust" min="68" max="92" onchange="calculateSizes()" />
                        </range-input> 
                    </div>
                </div>

                <div class="uk-margin uk-form-controls" uk-grid>
                    <div class="uk-width-1-4@s">
                        <label>Mellbőség (cm)</label>
                    </div>
                    <div class="uk-width-expand@s">
                        <range-input class="range-input">
                            <output for="size-overbust"></output>
                            <input type="range" id="size-overbust" name="size-overbust" min="78" max="114" onchange="calculateSizes()" />
                        </range-input> 
                    </div>
                </div>

                <div class="uk-margin uk-form-controls" uk-grid>
                    <div class="uk-width-1-4@s">
                        <label>Csípőméret (cm)</label>
                    </div>
                    <div class="uk-width-expand@s">
                        <range-input class="range-input">
                            <output for="size-hip"></output>
                            <input type="range" id="size-hip" name="size-hip" min="80" max="140" onchange="calculateSizes()" />
                        </range-input> 
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-width-2-5@s">
            <div class="uk-card uk-card-default uk-card-body">
                {{ content }}
                <h3>Felső méreted: <span class="uk-text-primary" id="size-upper">80C</span></h3>
                <h3 class="uk-margin-remove-top">Alsó méreted: <span class="uk-text-primary" id="size-bottom">42</span></h3>
            </div>
        </div>
        <script>
            function calculateSizes(){
                var sU = document.getElementById('size-underbust').value,
                    sO = document.getElementById('size-overbust').value,
                    sH = document.getElementById('size-hip').value,
                    cU = document.getElementById('size-upper'),
                    cB = document.getElementById('size-bottom');

                var upperN = 70;
                var upperA = "A";

                cB.innerHTML = 2 * parseInt((sH / 2.54)/2);

                if(sU < 73){
                    upperN = 70;
                }else if(sU < 78){
                    upperN = 75;
                }else if(sU < 83){
                    upperN = 80;
                }else if(sU < 88){
                    upperN = 85;
                }else {
                    upperN = 90;
                }

                if(sO-sU < 13){
                    upperA = "A";
                }else if(sO-sU < 15){
                    upperA = "B";
                }else if(sO-sU < 18){
                    upperA = "C";
                }else if(sO-sU < 20){
                    upperA = "D";
                }else {
                    upperA = "E";
                }

                cU.innerHTML = upperN + upperA;

            }
        </script>
    </div>
</div>
{% endblock %}