{# {% htmlcompress %} #}
<!DOCTYPE html>
<html {{ site.languageAttributes }}>
<head>
    <title>{{ site.title }}</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="msapplication-tap-highlight" content="no">
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif|Raleway:400,600&display=swap&subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="all" href="{{ site.themeUrl }}/assets/css/style.min.css?t={{ site.cssFileTime }}" />
	<link rel="icon" type="image/x-icon" href="{{ site.themeUrl }}/assets/favicon/favicon.ico" />
	<link rel="apple-touch-icon" sizes="57x57" href="{{ site.themeUrl }}/assets/favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="{{ site.themeUrl }}/assets/favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="{{ site.themeUrl }}/assets/favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="{{ site.themeUrl }}/assets/favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="{{ site.themeUrl }}/assets/favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="{{ site.themeUrl }}/assets/favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="{{ site.themeUrl }}/assets/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="{{ site.themeUrl }}/assets/favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="{{ site.themeUrl }}/assets/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="{{ site.themeUrl }}/assets/css/favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ site.themeUrl }}/assets/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="{{ site.themeUrl }}/assets/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ site.themeUrl }}/assets/favicon/favicon-16x16.png">
	<link rel="manifest" href="{{ site.themeUrl }}/assets/favicon/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="{{ site.themeUrl }}/assets/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    {% if(site.themeSettings.analytics) %}
    {{ include('components/analytics.twig') }}
    {% endif %}
	{{ headerContent() }} 
    {% if(site.privacyPolicyPage) %}
    {{ include('components/cookie.twig') }}
    {% endif %}
    <script>var ajaxUrl = '{{ site.ajaxUrl }}';</script>
</head>
<body class="{{ site.bodyClass }}">
    {% spaceless %}
    {% block body %}
    {{ include('components/header.twig') }}
    <main role="main">
        {% block content %}{% endblock %}
    </main>
    {{ include('components/footer.twig') }}
    {% endblock body %}
    {% endspaceless %}
    <script type="text/javascript" src="{{ site.themeUrl }}/assets/js/uikit.min.js"></script>
    <script type="text/javascript" src="{{ site.themeUrl }}/assets/js/uikit-icons.min.js"></script>
    {{ footerContent() }}
</body>
</html>
{# {% endhtmlcompress %} #}