.product-attributes {}

.product-attributes input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.product-attributes label {
  display: inline-block;
  /*background-color: #ddd;*/
  padding: 8px 14px 9px;
  border: 1px solid $global-color;
  font-size: $global-small-font-size;
  margin: 0 5px 5px 0;
  cursor: pointer;
}

.product-attributes label:hover,
.product-attributes input[type="radio"]:focus+label {
  background-color: $global-color;
  color: $global-inverse-color;
}

.product-attributes input[type="radio"]:checked+label {
  background-color: $global-secondary-background;
  border-color: $global-secondary-background;
  color: $global-inverse-color;
}

h4.attribute_label[data-error]:after{
  display: inline-block;
  content: attr(data-error);
  margin-left: 10px;
  color: $global-danger-background;
  font-size: $global-small-font-size;
}