.footer 
{
    box-sizing: border-box;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: $global-secondary-background; //$global-muted-background;
    color: $global-inverse-color;
    margin-top: 60px;
    position: relative;

    &__logo
    {
        line-height: 0px;
        transform: translateY(-100%);
        position: absolute;
        top: 3px;
        left: 0;
        right: 0;
        margin: 0;
        pointer-events: none;
        z-index: -1;

        &::after 
        {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
        }

        svg 
        {
            width: 100%;
        }
    }

    .uk-text-meta
    {
        color: $global-inverse-color;
    }

    .uk-text-meta a 
    {
        color: $global-muted-color;
        
        &:hover 
        {
            text-decoration: underline;
        }
    }

}

@media (min-width: $breakpoint-medium) {

    .footer 
    {
        padding-bottom: 60px;
        padding-top: 60px;
        margin-top: 90px;
    }
}