.uk-logo svg {
    height: 20px;
    width: auto;
}

.product-title {
    font-size: 1.3rem;
    text-decoration: none!important;
}

@media (min-width: $breakpoint-small) 
{
    .uk-logo svg {
        height: 30px;
    }
}