.number-input
{
    display: flex;
    min-width: 140px;
    
    .uk-input
    {
        width: calc(100% - 80px);
    }

    .uk-button 
    {
        padding: 0 12px;
        width: 40px;

        &[uk-icon=plus]
        {
        }

        &[uk-icon=minus]
        {
        }

    }
}