$color: #e5e5e5;

.range-input 
{
    position: relative;

    input[type=range] {
        font-size: 14px;
        line-height: 1em;
        color: #333333;
        outline: none;
        width: 100%;
        margin: 15px 0;
        -webkit-appearance: none;
        
        &::-webkit-slider-runnable-track {
            animate: 0.2s;
            background-color: $color;
            border-radius: 4px;
            cursor: pointer;
            width: 100%;
            height: 7.5px;
        }
        
        &::-webkit-slider-thumb {
            background: #c79600;
            border-radius: 0;
            border: 1px solid $color;
            cursor: pointer;
            height: 40px;
            width: 40px;
            margin-top: -17px;
            -webkit-appearance: none;
        }
        
        &:active::-webkit-slider-runnable-track {
            opacity: 0.8;
        }
        &::-moz-range-track {
            animate: 0.2s;
            background-color: $color;
            border-radius: 4px;
            cursor: pointer;
            width: 100%;
            height: 7.5px;
        }
        &::-moz-range-thumb {
            background: #c79600;
            border-radius: 0;
            border: 1px solid $color;
            cursor: pointer;
            height: 40px;
            width: 40px;
        }
        &::-ms-track {
            animate: 0.2s;
            background-color: $color;
            border-radius: 4px;
            cursor: pointer;
            width: 100%;
            height: 7.5px;
        }
        &::-ms-thumb {
            background: #ffffff;
            border-radius: 50%;
            border: 1px solid $color;
            cursor: pointer;
            height: 40px;
            width: 40px;
            margin: 0;
            box-sizing: border-box;
        }
        
        &:active::-ms-fill-lower {
            background: $color;
        }
        
        &:active::-ms-fill-upper {
            background: $color;
        }
    }

    output {
        font-size: 16px;
        line-height: 1em;
        pointer-events: none;
        position: absolute;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
        z-index: 10;
        color: #fff;
        font-weight: 600;
    }
}