<footer class="footer">
    <figure class="footer__logo">
        <div class="uk-container">
            {% include '@svg/logo-footer.svg' %}
        </div>
    </figure>
    <div class="uk-container">
        {% set footerMenu = callStatic('MenuHandler', 'getMenuItems', {'args': 'footer'}) %}
        <div class="uk-child-width-1-{{ footerMenu|length }}@s" uk-grid>
            {% for column in footerMenu %}
            <div>
                <h5 class="uk-text-meta uk-text-uppercase">{{ column.title }}</h5>
                <ul class="uk-list uk-text-meta">
                    {% for item in column.children %}
                    <li><a href="{{ item.url }}">{{ item.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>
    </div>
</footer>