<header id="header" style="background-color: #fff;" data-uk-sticky="show-on-up: true; animation: uk-animation-fade; media: @l">
    <div class="uk-container">
        <nav id="navbar" data-uk-navbar="mode: click;">
            <div class="uk-navbar-center nav-overlay uk-visible@m">
                <a class="uk-logo" href="{{ site.baseUrl }}" title="Logo">{% include '@svg/logo.svg' %}</a>
            </div>
            <div class="uk-navbar-left nav-overlay uk-hidden@m">
                <a class="uk-logo" href="{{ site.baseUrl }}" title="Logo">{% include '@svg/logo.svg' %}</a>
            </div>
            <div class="uk-navbar-right nav-overlay">
                <div class="uk-padding uk-padding-remove-horizontal">
                    <a class="uk-margin-small-right" href="{{ site.woocommerce.accountUrl }}" data-uk-icon="user"></a>
                    <a class="uk-margin-small-right" href="{{ site.woocommerce.cartUrl }}" data-uk-icon="cart"></a>
                    <a href="{{ site.woocommerce.cartUrl }}"><span id="cart_counter" class="uk-badge{% if site.woocommerce.cartCount == 0 %} uk-background-muted uk-text-muted{% endif %}">{{ site.woocommerce.cartCount }}</span></a>
                    <a class="uk-navbar-toggle uk-hidden@m" data-uk-toggle data-uk-navbar-toggle-icon href="#offcanvas-nav"></a>
                </div>
                
            </div>
        </nav>
    </div>
</header>
<!--/HEADER-->

{% set headerMenu = callStatic('MenuHandler', 'getMenuItems') %}
<!-- NAVIGATION -->
<div class="uk-container uk-visible@m">
    <nav class="nav-scroll">
        <ul class="uk-subnav uk-flex uk-flex-between uk-flex-nowrap">
            {% for item in headerMenu %}
                <li class="{% if item.active %}uk-active{% endif %}"><a href="{{ item. url }}" title="{{ item.title }}">{{ item.title }}</a></li>
            {% endfor %}
        </ul>
    </nav>
</div>
<!-- /NAVIGATION -->
<!-- NAVIGATION MOBILE -->
<div id="offcanvas-nav" uk-offcanvas="overlay: true">
    <div class="uk-offcanvas-bar">
        <button class="uk-offcanvas-close" type="button" uk-close></button>
        <ul class="uk-nav uk-nav-default">
            {% for item in headerMenu %}
                <li class="{% if item.active %}uk-active{% endif %}"><a href="{{ item. url }}" title="{{ item.title }}">{{ item.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
<!-- /NAVIGATION MOBILE -->