// 1. Your custom variables and variable overwrites.
$main-background: #e6e3dd;
$main-color: #111;


// 2. Import default variables and available mixins.
@import "variables-theme.scss";
@import "mixins-theme.scss";

// 3. Your custom mixin overwrites.
@mixin hook-card() { color: #000; }

// 4. Import UIkit.
@import "uikit-theme.scss";

// 5. Custom styles
@import "custom/_import.scss";